@import "../Index.scss";
.navbar_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--color_2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top: 1rem;
  font-family: $font_main;
  > li {
    list-style: none;
    margin-right: 1rem;
    padding: 0;
    // align-items: center;
    align-self: flex-start;
    color: $color_3;
    font-weight: 600;
    &:hover {
      > a {
        color: var(--color_4);
        border-bottom: 2px solid var(--color_4);
      }
    }
    a {
      text-decoration: none;
      color: var(--color_3);
      padding: 0 0.2rem;
      font-weight: 600;
    }
  }
}
.allcategories_navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  height: 40px;
  &:hover {
    ul {
      display: block;
      opacity: 1;
      transform: translateY(0px);
      transition: 0.3s ease transform;
      visibility: visible;
    }
  }
  .all_category_ul {
    position: absolute;
    border: 1px solid var(--color_3);
    background-color: var(--color_1);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    min-width: 100%;
    // display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    z-index: 10;
    top: 100%;
    transition: 0.3s ease all;
    cursor: pointer;

    .list_under {
      min-width: 150px;
      width: 100%;
      padding: 0.7rem 0.5rem;
      color: var(--color_2);
      font-weight: 400;
      list-style: none;

      a {
        text-decoration: none;
        font-size: 0.85rem;
        display: flex;
        justify-content: space-between;
      }
      &:hover {
        @include bgColorHover($color_2);
      }
      &:active {
        @include bgColorActive($color_2);
      }
    }
  }
}
.cart_list_navbar {
  position: relative;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 20px;
    background-color: $color_2;
    color: $color_3;
    aspect-ratio: 1;
    font-size: 0.6rem;
    border-radius: 50%;
  }
}
