@import "../Index.scss";
.single_product_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  transition: 0.2s ease transform;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border: 2px solid transparent;
  background-color: var(--color_1);
  position: relative;
  //   align-self: flex-start;
  &:hover {
    border: 2px solid var(--color_3);
    cursor: pointer;
    transition: 0.2s ease transform;

    transform: translateY(-10px);
  }
  .single_product_image_box {
    display: flex;
    img {
      width: 100%;
      aspect-ratio: 1.4;
      object-fit: cover;
    }
  }
  .single_product_info {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
    flex: 1;
    > li {
      list-style: none;
      color: var(--color_2);
      font-family: $font_text;
      font-size: 1rem;
    }
  }
}
a {
  text-decoration: none;
}
.single_product_btn_price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: flex-end;
  padding: 0 0.5rem;
  font-family: $font_text;
  > li {
    list-style: none;
    padding: 0.3rem;
    color: var(--color_2);
    font-size: 1rem;
  }
  > button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    // font-size: 1.1rem;
    padding: 0.5rem;
    background-color: var(--color_3);
    // border: 1px solid red;
    color: var(--color_1);
    margin-bottom: 5px;
    cursor: pointer;
    > span {
      margin-right: 5px;
      font-size: 0.9rem !important;
      pointer-events: none;
    }
    .add_cart_product_icon {
      pointer-events: none;
    }
    &:hover {
      @include bgColorHover($color_3);
    }
    &:active {
      @include bgColorActive($color_3);
    }
  }
}
