.single_product_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  transition: 0.2s ease all;
  //   align-self: flex-start;
  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s ease all;

    transform: translateY(-10px);
  }
  .single_product_image_box {
    display: flex;
    // flex: 1;
    img {
      // flex: 1;
      width: 100%;
      aspect-ratio: 1.4;
      object-fit: cover;
    }
  }
  .single_product_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem;
    li {
      list-style: none;
    }
  }
}
a {
  text-decoration: none;
}
